*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-image: linear-gradient(to top, #8712d3, #7615c6, #6516b9, #5516ac, #45159f);
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    

}

.parent{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

#title{
    color:aliceblue;
    font-family: 'Pixelify Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 90px;
    position:absolute;
    top:120px;
    width:1000px;
    text-align:center;
}

#justWord{
    color:#7c58ff;
    text-shadow: 2px 2px #ffffff;
}


#gameWord{
    color:#9942fc;
    text-shadow: 2px 2px #ffffff;
}

#nowWord{
    color:#d01ff3;
    text-shadow: 2px 2px #ffffff;
}

.titleAnim{
    cursor: default;
    display: inline-block;
    transition: transform 0.2s ease;
}   

/* This is all we need :D */
.titleAnim:hover {
    transform:translateY(-20%);
    transition: transform 0.2s ease;
  }

.wrapper{
    font-family: 'Pixelify Sans', sans-serif;
    color:#ffffff;
    padding:20px ;
    position:absolute;
    top:530px;
    width:420px;
    transform: translateY(-50%);
    box-shadow: 0 4px 8px 0 rgb(84, 15, 148), 0 6px 20px 0 rgb(84, 15, 148);
    border-radius:15px;
    background-image: linear-gradient(to bottom, #5b1dac, #621cb3, #6a1bba, #7219c0, #7a16c7);
    margin-top: 15;
}

.wrapper h1{
    text-align:center;
    font-size:36px;
    margin-bottom:20px;
}

.wrapper .input-box{
    padding: 0 20px;
    position: relative;
    width:100%;
    justify-content: center;
    height:50px; 
    margin:30px 0;
    font-family:'Poppins',sans-serif;
}

.input-box input{
    width:100%;
    height:95%;
    background:transparent;
    outline:none;
    border: none;
    border:2px solid rgb(211, 154, 255);
    border-radius:15px;
    font-size:16px;
    color:white;
    padding:20px 45px 20px 20px;
    font-family:'Poppins',sans-serif;

}

.input-box input::placeholder{
    font-family:'Poppins',sans-serif;
    color:#cc9fff;
}

.input-box input::placeholder{
    font-family:'Poppins',sans-serif;
    color:#cc9fff;
}

.input-box i{
    position:absolute;
    right:20px;
    top:50%;
    font-size:20px;
}

.wrapper .btn{
    margin:0 20px;
    color:#ffffff;
    width:90%;
    border:none;
    outline:none;
    margin-bottom:5%;
    border-radius:15px;
    cursor:pointer;
    height:50px;
    font-family: 'Pixelify Sans', sans-serif;
    background-color:rgb(138, 27, 228);
    
}

.wrapper .btn:hover{
    background-color: rgb(157, 38, 255);
    color:white;
    cursor:pointer;
}


/* Back to Login page */
#redirectLogin {
        text-align: center;
        margin-top:2%;
        margin-bottom:7%;
}

a{
    color:#e298ff
}

