*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-image: linear-gradient(to top, #8712d3, #7615c6, #6516b9, #5516ac, #45159f);
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    

}

.parent{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

#title{
    color:aliceblue;
    font-family: 'Pixelify Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 70px;
    position:absolute;
    top:20%;
    width:100%;
    text-align:center;
}

#justWord{
    color:#7c58ff;
    text-shadow: 2px 2px #ffffff;
}


#gameWord{
    color:#9942fc;
    text-shadow: 2px 2px #ffffff;
}

#nowWord{
    color:#d01ff3;
    text-shadow: 2px 2px #ffffff;
}

.titleAnim{
    cursor: default;
    display: inline-block;
    transition: transform 0.2s ease;
}

/* This is all we need :D */
.titleAnim:hover {
    transform:translateY(-20%);
    transition: transform 0.2s ease;
  }

.wrapper{
    font-family: 'Pixelify Sans', sans-serif;
    color:#ffffff;
    padding:20px ;
    position:absolute;
    top:53%;
    width:420px;
    transform: translateY(-50%);
    border:2px solid rgb(158, 54, 255);
    box-shadow: 5px 5px 0px rgb(84, 15, 148);
    border-radius:20px;
    background:transparent;
}

.wrapper h1{
    text-align:center;
    font-size:36px;
}

.wrapper .input-box{
    position: relative;
    width:100%;
    height:50px; 
    margin:30px 0;
}

.input-box input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
    border:2px solid rgb(158, 54, 255);
    border-radius:40px;
    font-size:16px;
    color:white;
    padding:20px 45px 20px 20px;

}

.input-box input::placeholder{
    color:#ffffff;
}

.input-box i{
    position:absolute;
    right:20px;
    top:50%;
    font-size:20px;
}

.wrapper .btn{
    color:#ffffff;
    width:100%;
    border:none;
    outline:none;
    margin-bottom:5%;
    border-radius:40px;
    cursor:pointer;
    height:45px;
    font-family: 'Pixelify Sans', sans-serif;
    background-color:rgb(135, 26, 238);
    box-shadow: 5px 5px 0px rgb(84, 15, 148);
}

.wrapper .btn:hover{
    background-color: rgb(157, 38, 255);
    box-shadow: 5px 5px 0px rgb(125, 32, 212);
    color:white;
    cursor:pointer;
}

p{
        text-align: center;
        margin-top:2%;
        margin-bottom:7%;
}

a{
    color:#ff53ff
}